@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.active {
  border-radius: 6px;
  color: #ffffff;
  background-color: #6c63ff;
}

table {
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 0.3125rem;
  overflow: hidden;
  border-collapse: collapse;
}

th,
td {
  padding: 0.6rem 1rem;
}
